/* grouped selector, will style all h1's and p's
h1, p {color:lightgreen;
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
}  */
p {color:blue;} 
/* this is our basic element selector, 
every p on the page gets styled
*/

/* this styles a inside of a p tag
    its called a descendant selector */
p a {color: red;}

/* this styles the id */
#secondparagraph {font-size: 1.5em;}


/* this styles a class */
.purpletext {color: purple;}